@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #FFFFFF;
}

main {
  height: 100vw;
}

.header {
  margin-bottom: 8.6805555556vw;
}
.header--registration {
  margin-bottom: 7.3611111111vw;
}
.header__container {
  padding: 1.25vw 2.9861111111vw 0.8333333333vw 2.0833333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.5555555556vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__logo-box {
  display: flex;
  align-items: center;
}
.header__logo-img {
  margin-right: 2.0833333333vw;
  width: 15.4166666667vw;
  height: 3.4722222222vw;
}
.header__logo-text {
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 3.0256944444vw;
  color: #787878;
}
.header__authen-box {
  display: flex;
  align-items: center;
}
.header__authen-link {
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 2.0173611111vw;
  color: #787878;
}
.header__authen-link:hover {
  color: #1A226B;
}
.header__authen-link:focus-visible {
  outline: none;
  color: #1A226B;
}
.header__authen-link:not(:last-child) {
  margin-right: 1.9444444444vw;
}

.form {
  margin-bottom: 8.5416666667vw;
}
.form__container {
  width: 100vw;
  margin: 0 auto;
}
.form__body {
  margin: 0 auto;
  margin-bottom: 16.1805555556vw;
  display: flex;
  flex-direction: column;
  padding: 1.8055555556vw 3.1944444444vw 2.5694444444vw 3.125vw;
  width: 41.6666666667vw;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}
.form__title {
  margin-bottom: 1.1805555556vw;
  text-align: center;
  font-weight: 700;
  font-size: 3.4722222222vw;
  line-height: 3.4722222222vw;
  color: #787878;
}
.form__email-box {
  margin-bottom: 0.7638888889vw;
  display: flex;
  flex-direction: column;
}
.form__email-text {
  display: inline-block;
  margin-bottom: 0.2777777778vw;
  padding-left: 0.625vw;
  font-weight: 700;
  font-size: 1.1111111111vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__email-text--registration {
  padding-left: 0;
}
.form__email {
  padding-top: 0.3472222222vw;
  padding-bottom: 0.2777777778vw;
  padding-left: 1.0416666667vw;
  width: 100%;
  color: #787878;
  border: 2px solid #787878;
  font-weight: 700;
  font-size: 1.9444444444vw;
  line-height: 2.5vw;
  border: 2px solid #787878;
}
.form__email::-moz-placeholder {
  color: #CCCCCC;
}
.form__email:-ms-input-placeholder {
  color: #CCCCCC;
}
.form__email::placeholder {
  color: #CCCCCC;
}
.form__email:focus {
  outline: none;
}
.form__password-box {
  margin-bottom: 0.7638888889vw;
}
.form__password-text {
  display: inline-block;
  padding-left: 0.625vw;
  margin-bottom: 0.4166666667vw;
  font-weight: 700;
  font-size: 1.1111111111vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__password-text--registration {
  padding-left: 0;
}
.form__password {
  padding-top: 0.3472222222vw;
  padding-bottom: 0.2777777778vw;
  padding-left: 1.0416666667vw;
  width: 100%;
  color: #787878;
  font-weight: 700;
  font-size: 1.9444444444vw;
  line-height: 2.5vw;
  border: 2px solid #787878;
}
.form__password::-moz-placeholder {
  color: #CCCCCC;
}
.form__password:-ms-input-placeholder {
  color: #CCCCCC;
}
.form__password::placeholder {
  color: #CCCCCC;
}
.form__password:focus {
  outline: none;
}
.form__sex-box {
  margin-bottom: 0.7638888889vw;
}
.form__sex-header {
  margin-bottom: 0.3472222222vw;
  font-weight: 700;
  font-size: 1.1111111111vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__radio-male:not(:last-child) {
  margin-bottom: 0.625vw;
}
.form__radio-label {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.form__radio {
  display: none;
}
.form__radio:checked + .form__radio-fake::before {
  opacity: 1;
}
.form__radio-fake {
  margin-right: 0.6944444444vw;
  position: relative;
  display: inline-block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  border: 2px solid #787878;
  border-radius: 50%;
}
.form__radio-fake::before {
  content: " ";
  position: absolute;
  display: block;
  width: 0.6944444444vw;
  height: 0.6944444444vw;
  background-color: #787878;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s;
  border-radius: 50%;
}
.form__radio-text {
  display: inline-block;
  font-weight: 400;
  font-size: 0.9722222222vw;
  color: #787878;
}
.form__about-label {
  display: inline-block;
  margin-bottom: 0.3472222222vw;
}
.form__about-text {
  margin-bottom: 0.3472222222vw;
  font-weight: 700;
  font-size: 1.1111111111vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__about {
  display: block;
  margin-bottom: 1.5972222222vw;
  width: 100%;
  height: 17.0833333333vw;
  resize: none;
  font-size: 1.9444444444vw;
  line-height: 2.5vw;
  color: #787878;
  border: 2px solid #787878;
  outline: none;
}
.form__about::-moz-placeholder {
  padding-top: 0.3472222222vw;
  padding-left: 0.9027777778vw;
  color: #CCCCCC;
}
.form__about:-ms-input-placeholder {
  padding-top: 0.3472222222vw;
  padding-left: 0.9027777778vw;
  color: #CCCCCC;
}
.form__about::placeholder {
  padding-top: 0.3472222222vw;
  padding-left: 0.9027777778vw;
  color: #CCCCCC;
}
.form__checkbox-box {
  margin-bottom: 3.8888888889vw;
}
.form__checkbox-label {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.form__checkbox {
  display: none;
}
.form__checkbox:checked + .form__checkbox-fake::before {
  opacity: 1;
}
.form__checkbox-fake {
  margin-right: 0.6944444444vw;
  position: relative;
  display: inline-block;
  width: 1.6666666667vw;
  height: 1.6666666667vw;
  border: 2px solid #787878;
}
.form__checkbox-fake::before {
  content: " ";
  position: absolute;
  display: block;
  width: 0.6944444444vw;
  height: 0.6944444444vw;
  background-color: #787878;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s;
}
.form__checkbox-text {
  display: inline-block;
  font-weight: 400;
  font-size: 0.9722222222vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__button {
  display: inline-block;
  padding: 1.1111111111vw 3.8888888889vw 1.1111111111vw 3.8194444444vw;
  width: 12.5vw;
  align-self: center;
  cursor: pointer;
  background-color: #1A226B;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 1.1111111111vw;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__button--registration {
  padding: 1.25vw 1.1805555556vw 1.25vw 1.1805555556vw;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    margin-bottom: 80px;
  }
  .header__container {
    padding: 2.9947916667vw 3.6458333333vw 3.6458333333vw 2.6041666667vw;
    height: 10.4166666667vw;
  }
  .header__logo-img {
    margin-right: 4.4270833333vw;
    width: 16.1458333333vw;
    height: 3.2552083333vw;
  }
  .header__logo-text {
    font-size: 3.125vw;
    line-height: 3.7825520833vw;
  }
  .header__authen-link {
    font-weight: 700;
    font-size: 2.0833333333vw;
    line-height: 2.5208333333vw;
  }
  .header__authen-link:not(:last-child) {
    margin-right: 4.6875vw;
  }
  .form {
    margin-bottom: 19.4010416667vw;
  }
  .form__container {
    max-width: 100vw;
  }
  .form__body {
    margin-bottom: 36.1979166667vw;
    padding: 3.3854166667vw 5.9895833333vw 4.8177083333vw 5.859375vw;
    width: 78.125vw;
  }
  .form__title {
    margin-bottom: 1.6927083333vw;
    font-size: 6.5104166667vw;
    line-height: 6.5104166667vw;
  }
  .form__email-box {
    margin-bottom: 1.4322916667vw;
  }
  .form__email-text {
    margin-bottom: 0.5208333333vw;
    padding-left: 1.171875vw;
    font-size: 2.0833333333vw;
    line-height: 2.0833333333vw;
  }
  .form__email {
    padding-top: 0.6510416667vw;
    padding-bottom: 0.5208333333vw;
    padding-left: 1.953125vw;
    font-size: 3.6458333333vw;
    line-height: 4.6875vw;
  }
  .form__password-box {
    margin-bottom: 6.5104166667vw;
  }
  .form__password-text {
    padding-left: 1.171875vw;
    margin-bottom: 0.78125vw;
    font-size: 2.0833333333vw;
    line-height: 2.0833333333vw;
  }
  .form__password {
    padding-top: 0.6510416667vw;
    padding-bottom: 0.5208333333vw;
    padding-left: 1.953125vw;
    font-size: 3.6458333333vw;
    line-height: 4.6875vw;
  }
  .form__sex-box {
    margin-bottom: 1.4322916667vw;
  }
  .form__sex-header {
    margin-bottom: 0.6510416667vw;
    font-size: 2.0833333333vw;
    line-height: 2.0833333333vw;
  }
  .form__radio-male:not(:last-child) {
    margin-bottom: 1.171875vw;
  }
  .form__radio-fake {
    margin-right: 1.3020833333vw;
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
  .form__radio-fake::before {
    width: 1.171875vw;
    height: 1.171875vw;
  }
  .form__radio-text {
    font-size: 1.8229166667vw;
  }
  .form__about-label {
    margin-bottom: 0.6510416667vw;
  }
  .form__about-text {
    margin-bottom: 0.6510416667vw;
    font-size: 2.0833333333vw;
    line-height: 2.0833333333vw;
  }
  .form__about {
    margin-bottom: 2.9947916667vw;
    height: 32.03125vw;
    font-size: 3.6458333333vw;
    line-height: 4.6875vw;
  }
  .form__about::-moz-placeholder {
    padding-top: 0.6510416667vw;
    padding-left: 1.6927083333vw;
  }
  .form__about:-ms-input-placeholder {
    padding-top: 0.6510416667vw;
    padding-left: 1.6927083333vw;
  }
  .form__about::placeholder {
    padding-top: 0.6510416667vw;
    padding-left: 1.6927083333vw;
  }
  .form__checkbox-box {
    margin-bottom: 7.2916666667vw;
  }
  .form__checkbox-fake {
    margin-right: 1.3020833333vw;
    width: 3.125vw;
    height: 3.125vw;
  }
  .form__checkbox-fake::before {
    width: 1.3020833333vw;
    height: 1.3020833333vw;
  }
  .form__checkbox-text {
    font-size: 1.8229166667vw;
    line-height: 2.0833333333vw;
  }
  .form__button {
    padding: 2.0833333333vw 7.2916666667vw 2.0833333333vw 7.1614583333vw;
    width: 23.4375vw;
    font-size: 3.125vw;
    line-height: 2.0833333333vw;
  }
  .form__button--registration {
    padding: 2.34375vw 2.2135416667vw 2.34375vw 2.2135416667vw;
  }
}
@media screen and (max-width: 420px) {
  .form__radio-fake::before {
    width: 0.9523809524vw;
    height: 0.9523809524vw;
  }
}/*# sourceMappingURL=style.css.map */