@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vw;
  background-color: #1B2473;
}

.form {
  padding-top: 5.6944444444vw;
}
.form__container {
  max-width: 100vw;
  margin: 0 auto;
}
.form__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.8055555556vw 3.1944444444vw 1.8055555556vw 3.125vw;
  width: 41.6666666667vw;
  height: 28.6111111111vw;
  background-color: #FFFFFF;
  border-radius: 1.3888888889vw;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}
.form__title {
  margin-bottom: 1.1805555556vw;
  text-align: center;
  font-weight: 700;
  font-size: 3.4722222222vw;
  line-height: 3.4722222222vw;
  color: #787878;
}
.form__email-box {
  margin-bottom: 2.2222222222vw;
  display: flex;
  flex-direction: column;
}
.form__email-text {
  display: block;
  margin-bottom: 0.2083333333vw;
  padding-left: 0.625vw;
  font-weight: 700;
  font-size: 1.1111111111vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__email {
  padding-top: 0.3472222222vw;
  padding-bottom: 0.2777777778vw;
  padding-left: 1.0416666667vw;
  width: 100%;
  color: #787878;
  border: 2px solid #787878;
  font-weight: 700;
  font-size: 1.9444444444vw;
  line-height: 2.5vw;
  border: 2px solid #787878;
  border-radius: 0.6944444444vw;
}
.form__email::-moz-placeholder {
  color: #CCCCCC;
}
.form__email:-ms-input-placeholder {
  color: #CCCCCC;
}
.form__email::placeholder {
  color: #CCCCCC;
}
.form__email:focus {
  outline: none;
}
.form__password-box {
  margin-bottom: 1.1111111111vw;
}
.form__password-text {
  display: none;
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__password {
  padding-top: 0.3472222222vw;
  padding-bottom: 0.3472222222vw;
  padding-left: 1.0416666667vw;
  width: 100%;
  color: #787878;
  font-weight: 700;
  font-size: 1.9444444444vw;
  line-height: 2.5vw;
  border: 2px solid #787878;
  border-radius: 0.6944444444vw;
}
.form__password::-moz-placeholder {
  color: #CCCCCC;
}
.form__password:-ms-input-placeholder {
  color: #CCCCCC;
}
.form__password::placeholder {
  color: #CCCCCC;
}
.form__password:focus {
  outline: none;
}
.form__checkbox-box {
  margin-bottom: 3.4722222222vw;
}
.form__checkbox {
  display: none;
}
.form__checkbox:checked + label::before {
  border-radius: 1.0416666667vw;
  background-image: url("../../img/1.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s;
}
.form__checkbox-label {
  padding-left: 2.0833333333vw;
  cursor: pointer;
}
.form__checkbox-label::before {
  content: "";
  display: inline-block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  border: 1px solid grey;
  vertical-align: middle;
  margin-left: -2.0833333333vw;
  margin-right: 0.3472222222vw;
  transition: 0.2s;
  border: 2px solid #787878;
  border-radius: 0.4861111111vw;
}
.form__checkbox-text {
  font-weight: 400;
  font-size: 0.9722222222vw;
  line-height: 1.1111111111vw;
  color: #787878;
}
.form__button {
  display: inline-block;
  padding: 1.1111111111vw 3.8888888889vw 1.1111111111vw 3.8194444444vw;
  width: 12.5vw;
  align-self: center;
  cursor: pointer;
  background-color: #1A226B;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 1.1111111111vw;
  outline: none;
  border-radius: 0.6944444444vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form {
    padding: 2.6041666667vw;
  }
  .form__container {
    max-width: 100vw;
  }
  .form__body {
    width: 94.7916666667vw;
    height: 90.7552083333vw;
    padding: 6.25vw 5.859375vw 31.5104166667vw 5.859375vw;
    border-radius: 2.6041666667vw;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  }
  .form__title {
    margin-bottom: 1.6927083333vw;
    font-size: 7.8125vw;
  }
  .form__email-box {
    margin-bottom: 0.2604166667vw;
  }
  .form__email-text {
    margin-bottom: 0.1302083333vw;
    padding-left: 1.171875vw;
    font-size: 3.125vw;
    line-height: 4.6875vw;
  }
  .form__email {
    padding-top: 0.6510416667vw;
    padding-bottom: 0.6510416667vw;
    padding-left: 1.8229166667vw;
    border-radius: 1.3020833333vw;
    font-size: 3.6458333333vw;
    line-height: 4.6875vw;
  }
  .form__password-box {
    margin-bottom: 2.6041666667vw;
  }
  .form__checkbox-label::before {
    width: 3.7760416667vw;
    height: 3.7760416667vw;
  }
  .form__password-text {
    display: block;
    margin-bottom: 0vw;
    padding-left: 0.9114583333vw;
    font-size: 3.125vw;
    line-height: 4.6875vw;
  }
  .form__password {
    padding-top: 0.390625vw;
    padding-bottom: 0.390625vw;
    padding-left: 1.953125vw;
    border-radius: 1.3020833333vw;
    font-size: 3.6458333333vw;
    line-height: 4.6875vw;
  }
  .form__checkbox-box {
    margin-bottom: 8.3333333333vw;
  }
  .form__checkbox-text {
    font-size: 2.34375vw;
  }
  .form__checkbox-label::before {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
    margin-left: -1.953125vw;
    margin-right: 0.6510416667vw;
    border-radius: 0.9114583333vw;
  }
  .form__button {
    padding: 3.90625vw 8.3333333333vw;
    font-size: 4.1666666667vw;
    width: 28.6458333333vw;
    border-radius: 1.3020833333vw;
    line-height: 2.0833333333vw;
  }
}/*# sourceMappingURL=style.css.map */